<section id="prestamo-de-libros" class="clearfix">
    <header>
        <h1 class="text-center">Préstamo de libros</h1>
    </header>

    <p>
        Bibliografía y material audiovisual que la Asociación pone a tu disposición:
    </p>

    <div class="row">
        <div class="filtros">
            <div class="col-xs-6 col-md-3">
                <input type="text" class="form-control" placeholder="Filtrar por título" ng-model="search.book.title"/>
            </div>
            <div class="col-xs-6 col-md-3">
                <input type="text" class="form-control" placeholder="Filtrar por autor" ng-model="search.book.author"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p><strong>Libros</strong>:</p>
            <ul class="fa-ul">
                <li ng-repeat="libro in prestamoCtrl.libros | orderBy:'book.title' | filter:search:strict" ng-click="prestamoCtrl.open(libro.book)">
                    <i class="fa-li fa fa-book"></i>{{libro.book.title}}
                    <span ng-if="libro.book.author">({{libro.book.author}})</span>
                    <a ng-href="{{libro.book.link.href}}" ng-if="libro.book.link.href">({{libro.book.link.text}})</a>
                </li>
            </ul>
        </div>
    </div>
</section>
