---
layout: default
title: Bienvendido
description: Asociación La Buena Leche
css: contacto
---
{% assign contacts  = site.contacts | sort: "name" %}

{% asset 'contacto/contacto.jpg' magick:resize=1140 magick:quality=90 alt='Una madre amamantando a su bebé y trabajando con un ordenador' class='img-fluid rounded mx-auto d-block' %}

 <!-- asset contacto/contacto.jpg
    srcset:min-width="993"
    srcset:max-width="992"
    srcset:max-width="768"
    srcset:max-width="576"  -->


 <!-- asset contacto/contacto.jpg magick:resize=1140 magick:quality=90 @pic
    srcset:width=576 magick:resize=576 magick:quality=90
    srcset:width=768 magick:resize=768 magick:quality=90
    srcset:width=992 magick:resize=992 magick:quality=90 -->


<h1>Contacta</h1>

<p>
  En la Asociación no contamos con una ubicación física, pero si lo necesitas, puedes asistir a cualquiera de nuestras reuniones: Solares, Tanos-Torrelavega, Santander, Castro Urdiales y Puente San Miguel.
</p>

<p>
  Encontrarás la información completa pinchando <a href="encuentros">aquí</a>.
</p>

<p>
  Puedes localizarnos en los siguientes teléfonos de contacto, <strong>llamando de 09:00 a 21:00</strong>, en los que gustosamente atenderemos tus consultas, a través de nuestro correo electrónico, o también nos puedes encontrar en Facebook y Twitter:
</p>

<ul class="fa-ul">
    {% for contact in contacts %}
    <li>
      <span class="fa-li"><i class="{{contact.icon}}"></i></span>
      <span class="d-none d-sm-block">{{contact.label}} - {{contact.name}}{% if contact.help %} ({{contact.help}}){% endif %}</span>

      <span class="d-block d-sm-none">
        {% if contact.whatsapp %}
          <a href="//wa.me/34{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
        {% else %}
          <a href="tel:{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
        {% endif %}
        <span>- {{contact.name}}{% if contact.help %} ({{contact.help}}){% endif %}</span>
      </span>
    </li>
    {% endfor %}
  <li>
    <span class="fa-li"><i class="fa fa-envelope"></i></span> <a href="mailto:{{site.email}}">{{site.email}}</a>
  </li>
  <li>
    <span class="fa-li"><i class="fab fa-facebook"></i></span> <a href="https://es-es.facebook.com/AsociacionLaBuenaLeche" target="_blank">La Buena Leche</a>
  </li>
  <li>
    <span class="fa-li"><i class="fab fa-twitter"></i></span> <a href="https://twitter.com/asociacionlbl" target="_blank"><i class="fa fa-at"></i>AsocacionLBL</a>
  </li>
</ul>
