---
layout: home
title: Asociación de apoyo a la lactancia materna
description: Deseamos que esta página sea una mano amiga donde puedas encontrar la información más básica y necesaria para la lactancia de tu bebé
css:
  - home
js:
  - home
---

{% if site.notice %}
<div class="container">
  <div class="alert alert-{{site.notice.type}} text-center" role="alert">
    {% if site.notice.heading %}
      <p class="alert-heading">{{site.notice.heading}}</p>
    {% endif %}

    <p>{{site.notice.content}}</p>

    {% if site.notice.footer %}
      <hr>
      <p class="mb-0">{{site.notice.footer}}</p>
    {% endif %}
  </div>
</div>
{% endif %}

<article>
  <header>
    <h1 class="text-center">
      Asociación La Buena Lech<span class="end">e</span>
    </h1>
  </header>

  <!-- Bienvenida -->
  <section id="welcome" class="bg-dark text-white my-5 d-flex flex-column justify-content-center">
    <header class="text-center">
      <h2>Bienvenid@</h2>
    </header>
    <div class="container">
      <p>
        Esperamos que aquí puedas encontrar la información que precises y te sea de utilidad. Hoy en día tenemos al alcance más y mejores libros y artículos sobre lactancia materna pero a veces cuesta encontrar la información más práctica, la que nos ayuda en este momento concreto, la que nos puede poner en contacto con alguien, con una voz humana que nos calme o con una visita que nos tranquilice sobre qué hacer con nuestra pequeña criatura.
      </p>

      <p>
        Deseamos que esta página sea una mano amiga donde puedas encontrar la información más básica y necesaria para la lactancia de tu bebé y también donde puedas encontrar <a href="/contacto" title="Contacta con nosotras">un número de teléfono o dirección electrónica</a> para consultar dudas, un lugar donde poder <a href="/que-hacemos/" title="Nuestros encuentros">reunirte con otras madres</a> que amamantan y donde poder poner en voz alta tus preocupaciones, miedos, angustias o alegrías.
      </p>
    </div>
  </section>

  <!-- Asóciate -->
  <section id="donate" class="container text-center my-5 d-flex flex-column justify-content-center">
    {% assign current = site.data.mottos | where: "year", 2025 | first %}
    <header>
      <h2>Asóciate</h2>
    </header>

    <h3 class="mb-3">{{ current.title }}</h3>

    <p class="text-start">
      <a href="/asociate/">Nuestra cuota es pequeña</a>, de <strong>20€ al año</strong>, ¡y puedes complementarla uniéndote a nuestro
      <a href="//www.teaming.net/asociacionlabuenaleche">Teaming <i class="fas fa-external-link-alt"></i></a>!
      Las socias impulsan la labor de la asociación. Son las que nutren, discretamente, y su aportación es importante
      pues es el ingreso recurrente con el que hacemos folletos, damos un agradecimiento a las personas ponentes de
      charlas y talleres que realizamos, cubrimos gastos derivados de las actividades...
    </p>

    {% include partials/_teaming.html %}
  </section>

  <!-- Opiniones -->
  <section id="quotes" class="bg-dark-subtle position-relative mt-5 py-1 d-flex flex-column justify-content-center">
    <header class="text-center">
      <h2>Qué dicen nuestras socias</h2>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div id="blockquotes-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
            <div class="carousel-indicators">
              {% for blockquote in site.data.blockquotes %}
                <button
                  type="button"
                  data-bs-target="#blockquotes-carousel"
                  data-bs-slide-to="{{forloop.index0}}"
                  {% if forloop.first %}
                  class="active"
                  aria-current="true"
                  {% endif %}
                ></button>
              {% endfor %}
            </div>

            <div class="carousel-inner">
              {% for blockquote in site.data.blockquotes %}
                {% if forloop.first %}
                  <div class="carousel-item pb-4 active">
                {% else %}
                  <div class="carousel-item pb-4">
                {% endif %}
                  <figure class="text-center">
                    <blockquote class="blockquote">
                      <p>{{ blockquote.quote }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">{{ blockquote.name }}</figcaption>
                  </figure>
                </div>
              {% endfor %}
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#blockquotes-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#blockquotes-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
