---
layout: home
title: Asociación de apoyo a la lactancia materna
description: Deseamos que esta página sea una mano amiga donde puedas encontrar la información más básica y necesaria para la lactancia de tu bebé
css:
  - home
js:
  - jquery.rss
  - home
---

<article>
  <header>
    <h1 class="text-center">
      Asociación La Buena Lech<span class="end">e</span>
    </h1>
  </header>

  <!-- Bienvenida -->

  <section id="welcome" class="parallax text-white my-5 d-flex flex-column justify-content-center">
    <header class="text-center">
      <h2>Bienvenid@</h2>
    </header>
    <div class="container">
      <p>
        Esperamos que aquí puedas encontrar la información que precises y te sea de utilidad. Hoy en día tenemos al alcance más y mejores libros y artículos sobre lactancia materna pero a veces cuesta encontrar la información más práctica, la que nos ayuda en este momento concreto, la que nos puede poner en contacto con alguien, con una voz humana que nos calme o con una visita que nos tranquilice sobre qué hacer con nuestra pequeña criatura.
      </p>

      <p>
        Deseamos que esta página sea una mano amiga donde puedas encontrar la información más básica y necesaria para la lactancia de tu bebé y también donde puedas encontrar <a href="/contacto" title="Contacta con nosotras">un número de teléfono o dirección electrónica</a> para consultar dudas, un lugar donde poder <a href="/encuentros" title="Nuestros encuentros">reunirte con otras madres</a> que amamantan y donde poder poner en voz alta tus preocupaciones, miedos, angustias o alegrías.
      </p>
    </div>
  </section>

  <!-- Asóciate -->
  <section class="container text-center my-5 d-flex flex-column justify-content-center">
    {% assign current = site.data.mottos | where: "year", 2018 | first %}
    <header>
      <h2>Asóciate</h2>
    </header>

    <h3 class="mb-3">{{ current.title }}</h3>

    {% include partials/_associate-icons.html %}
  </section>

  <!-- Opiniones -->
  <section id="quotes" class="parallax text-white my-5 py-5 d-flex flex-column justify-content-center">
    <header class="text-center">
      <h2>Qué dicen nuestras socias</h2>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div id="blockquotes-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for blockquote in site.data.blockquotes %}
                {% if forloop.first == true %}
                  <div class="carousel-item pb-4 active">
                {% else %}
                  <div class="carousel-item pb-4">
                {% endif %}
                  <!-- <div class="media">
                    <img class="align-self-center mr-3 rounded-circle" src="{{ blockquote.avatar }}" alt="Fotografía de {{ blockquote.name }}">
                    <div class="media-body"> -->
                      <blockquote class="blockquote text-center">
                        <p class="mb-0">{{ blockquote.quote }}</p>
                        <footer class="blockquote-footer">{{ blockquote.name }}</footer>
                      </blockquote>
                    <!-- </div>
                  </div> -->
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog -->
  <section class="my-5 container d-flex flex-column justify-content-center">
    <header class="text-center">
      <h2>Nuestro blog</h2>
    </header>

    <div id="entries">
      <div class="loader">
        <div class="spinner">
          <div class="spinner">
              <div class="spinner">
                  <div class="spinner">
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="border-top my-5 py-5 d-flex flex-column justify-content-center">
    <header class="text-center">
      <h2>Próximos encuentros</h2>
    </header>

    <div id="meetings" class="container">
      <div class="loader">
        <div class="spinner">
          <div class="spinner">
              <div class="spinner">
                  <div class="spinner">
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
