---
layout: default
title: Nuestros encuentros en Cantabria
description: Únete a nuestros encuentros mensuales en Cantabria. Espacios de apoyo de madre a madre, con comodidades para ti y tus pequeños. ¡Encuéntranos y participa!
css:
  - que-hacemos
---

{% assign meetings = site.data.meetings | sort: 'order' %}
{% assign current = site.data.mottos | where: 'year', 2024 | first %}
{% assign mottos = site.data.mottos | where_exp: 'motto', 'motto.year != 2024' | sort: 'year' %}

<article>
  <header>
    <h1 class="text-center">Qué hacemo<span class="end">s</span></h1>
  </header>

  <div class="ratio ratio-16x9 mb-5 mx-auto" style="max-width: 696px">
    <iframe
      src="https://www.youtube-nocookie.com/embed/eWMp1xzUS-I?si=R0vtczsxuS9Bb8wR"
      title="Vídeo de presentación en YouTube"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <section class="mb-5">
    <h2 class="text-center">Los encuentros</h2>

    <section>
      <p>
        Son nuestra labor principal donde creamos una red de apoyo de madre a madre con la experiencia de todas las
        familias, a ellos pueden acudir toda persona del entorno de la mujer lactante (pareja, familiares, personal
        sanitario, etc...).
      </p>

      <div class="alert alert-dark">
        Pedimos, por favor, que si acudís con juguetes para los peques, no sean sonoros para que no interfieran en el
        buen desarrollo del encuentro.
      </div>
    </section>

    <section>
      <ul class="list-group encuentros-ul">
        {% for meeting in meetings %}
          <li class="list-group-item">
            <address>
              {% if meeting.maps %}
                <a
                  href="{{ meeting.maps }}"
                  class="arrow-maps"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Ver en Google Maps"
                >
                  <i class="fa fa-location-arrow"></i>
                  <strong>{{ meeting.location }}</strong>
                  <i class="fas fa-external-link-alt"></i>
                </a>
              {% else %}
                <strong>{{ meeting.location }}</strong>
              {% endif %}
              <br>
              {{ meeting.place -}}
              {% if meeting.location_help %} ({{ meeting.location_help }}){% endif -%}
              <br>
              {% if meeting.street %}
                {{ meeting.street -}}
                {%- if meeting.street_help %} ({{ meeting.street_help }}){% endif -%}
                <br>
              {% endif %}
              {{ meeting.day }}:<br>
              De {{ meeting.start }} a {{ meeting.end }}
            </address>

            {% assign paragraphs = meeting.description | newline_to_br | strip_newlines | split: '<br />' %}
            {% for paragraph in paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </section>
  </section>

  <section>
    <p>
      <strong>Pero La Buena Leche no es solo eso.</strong>
      Con la energía, cariño, experiencia, conocimientos y compromiso de
      <a href="/asociate/" title="Asóciate">voluntariado de las socias y colaboradores</a> ponemos en marcha diferentes
      acciones.
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        <h3 class="h4">Consultas individuales</h3>
        <ul>
          <li>Redes sociales</li>
          <li>Correo electrónico</li>
          <li>Teléfono / WhatsApp</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h3 class="h4">Red de apoyo</h3>
        <ul>
          <li>Encuentros presenciales entre madres</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h3 class="h4">Servicios</h3>
        <ul>
          <li>Alquiler de extractores</li>
          <li>Préstamo de material audiovisual y biblioteca</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h3 class="h4">Actividades puntuales</h3>
        <ul>
          <li>Conferencias</li>
          <li>Mesas redondas</li>
          <li>Exposiciones</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h3 class="h4">Servicio Cántabro de Salud</h3>
        <ul>
          <li>Colaboración con matronas</li>
          <li>Representanción en las comisiones IHAN</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h3 class="h4">Proyectos</h3>
        <ul>
          <li>Calendario de apoyo a la lactancia materna</li>
          <li>Semana europea de la Lactancia Materna</li>
          <li>Representación en el consejo de la mujer - Gobierno de Cantabria</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h3 class="h4">Ocio</h3>
        <ul>
          <li>Picnic anual</li>
          <li>Comida anual</li>
          <li>Magosta</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="my-5">
    <h3>Semana Mundial de Lactancia Materna</h3>

    <p>
      La semana mundial de la lactancia materna se crea en 1992 por la WABA y UNICEF con el objetivo de difundir y
      promover los beneficios de la lactancia materna, ya que la tasa había disminuido drásticamente en las décadas
      anteriores.
    </p>

    <p>
      Se celebra durante la primera semana de agosto a nivel mundial. En Europa debido a la dispersión vacacional se
      traslada a la primera semana de octubre.
    </p>

    <p>Cada año la preside un lema diferente:</p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>{{ current.title }}</p>
          </blockquote>
          <figcaption class="blockquote-footer">{{ current.year }}</figcaption>
        </figure>
      </li>
    </ul>

    <p class="text-right">
      <button
        class="btn btn-link text-muted"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseMottos"
        aria-expanded="false"
        aria-controls="collapseMottos"
      >
        <small>Ver lemas de años anteriores</small>
      </button>
    </p>

    <div class="collapse" id="collapseMottos">
      {% for motto in mottos reversed %}
        {% cycle '<div class="row">', '' %}
        <div class="col-12 col-md-6 mb-3">
          <figure class="{% cycle 'text-start', 'text-end' %}">
            <blockquote class="blockquote">
              <p>{{ motto.title }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">{{ motto.year }}</figcaption>
          </figure>
        </div>
        {% cycle '', '</div>' %}
      {% endfor %}
    </div>
  </section>
</article>
