---
layout: default
title: Qué hacemos en la Asociación
description: Queremos crear una red de apoyo de madre a madre, por medio de encuentros periódicos a los que puede asistir toda persona del entorno de la mujer lactante
css:
  - que-hacemos
---
{% assign meetings = site.data.meetings | sort: "order" %}
{% assign current = site.data.mottos | where: "year", 2022 | first %}
{% assign mottos  = site.data.mottos | where_exp: "motto", "motto.year != 2022" | sort: "year" %}

<article>
  <header>
    <h1 class="text-center">
      Qué hacemo<span class="end">s</span>
    </h1>
  </header>

  <iframe
    src="https://www.youtube-nocookie.com/embed/eWMp1xzUS-I"
    title="Vídeo de presentación en YouTube"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    class="video-player"
    allowfullscreen
  ></iframe>

  <section class="mb-5">
    <h2 class="text-center">
      Ven a nuestros encuentros
    </h2>

    <div class="row">
      <section class="col-12 col-md-6">
        <p>
          Queremos crear una red de apoyo de madre a madre con la experiencia de todas, por medio de encuentros periódicos a los que puede asistir toda persona del entorno de la mujer lactante (pareja, familiares, personal sanitario, etc...)
        </p>

        <p>
          <strong>En los encuentros podrás:</strong>
          <ul>
            <li>Encontrar información general sobre lactancia y crianza</li>
            <li>Plantear tus dudas</li>
            <li>Solicitar la observación de una toma</li>
            <li>Obtener el apoyo emocional que necesitas</li>
            <li>Conocer material de lactancia</li>
            <li>Aprender a portear</li>
          </ul>
        </p>

        <p>
          También disponemos de un servicio de <a href="/contacto" title="Contacta con nosotras">atención telefónica y correo electrónico</a>.
        </p>
      </section>
      <section class="col-12 col-md-6">
        <div class="alert alert-info">
          <p>
            Alguno de nuestros encuentros se realizan <em>online</em> y de manera gratuita, para asistir lo único necesario es que nos contactes por correo electrónico a <a href="mailto:{{site.email}}"><span class="obfuscated-email" data-website="{{site.email | split: '@' | last | split: '' | reverse | join: '' }}" data-user="{{site.email | split: '@' | first | split: '' | reverse | join: '' }}"></span></a>. ¡Te esperamos!
          </p>
        </div>

        <ul class="list-group encuentros-ul">
          {% for meeting in meetings %}
            <li class="list-group-item">
              <address>
                <a href="{{ meeting.maps }}" class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps">
                  <i class="fa fa-location-arrow"></i>
                  <strong>{{ meeting.location }}</strong>
                  <i class="fas fa-external-link-alt"></i>
                </a>{% if meeting.location_help %} ({{meeting.location_help}}){% endif %}<br/>
                {{ meeting.place }}<br/>
                {% if meeting.street %}
                  {{ meeting.street }}{% if meeting.street_help %} ({{meeting.street_help}}){% endif %}<br/>
                {% endif %}
                {{ meeting.day }}:<br/>
                De {{ meeting.start }} a {{ meeting.end }}
              </address>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </section>

  <section>
    <header>
      <h2 class="text-center">
        Actividades
      </h2>
    </header>

    <div class="row">
      <div class="col-12 col-lg-4">
        <section>
          <h3>Talleres</h3>

          <p>Ofrecidos como actividades puntuales:</p>
          <ul>
            <li>Porteo</li>
            <li>Masaje infantil</li>
            <li>Estiramientos para las mamás con su bebé encima</li>
            <li>Herramientas para manejar el stress durante la lactancia</li>
            <li>Trabajo de suelo pélvico</li>
          </ul>
        </section>
      </div>

      <div class="col-12 col-lg-4">
        <section>
          <h3>Conferencias</h2>

          <p>Ofrecemos a grupos y centros interesados diferentes charlas:</p>
          <ul>
            <li>Lactancia materna: práctica, dudas, principales dificultades y papel de los grupos de apoyo</li>
            <li>Lactancia: como empezar</li>
            <li>El rol del padre en la lactancia materna</li>
            <li>Alimentación complementaria y destete</li>
            <li>Cómo funcionan los grupos de apoyo (charla-taller)</li>
          </ul>

        </section>
      </div>
      <div class="col-12 col-lg-4">
        <section>
          <h3>Exposiciones</h3>

          <ul>
            <li>Material de lactancia</li>
            <li>Pinturas de Paz Treuquil (pintura indígena sobre la mujer)</li>
            <li>Fotografías</li>
            <li>Posters temáticos</li>
          </ul>
        </section>
      </div>
    </div>
  </section>

  <section class="my-5">
    <h3>Semana Mundial de Lactancia Materna</h3>

    <p>
      La semana mundial de la lactancia materna se crea en 1992 por la WABA y UNICEF con el objetivo de difundir y
      promover los beneficios de la
      lactancia materna, ya que la tasa había disminuido drásticamente en las décadas anteriores.
    </p>

    <p>
      Se celebra durante la primera semana de agosto a nivel mundial. En Europa debido a la dispersión vacacional se
      traslada a la primera semana de octubre.
    </p>

    <p>Cada año la preside un lema diferente:</p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <blockquote class="blockquote text-center">
          <p class="mb-0">{{ current.title }}</p>
          <footer class="blockquote-footer">{{ current.year }}</footer>
        </blockquote>
      </li>
    </ul>

    <p class="text-right">
      <button class="btn btn-link text-muted" type="button" data-toggle="collapse" data-target="#collapseMottos" aria-expanded="false" aria-controls="collapseMottos">
        <small>Ver lemas de años anteriores</small>
      </button>
    </p>

    <div class="collapse" id="collapseMottos">
      {% for motto in mottos reversed %}
        {% cycle '<div class="row">', '' %}
          <div class="col-12 col-md-6 mb-3">
            <blockquote class="blockquote {% cycle 'text-left', 'text-right' %}">
              <p class="mb-0">{{ motto.title }}</p>
              <footer class="blockquote-footer">{{ motto.year }}</footer>
            </blockquote>
          </div>
        {% cycle '', '</div>' %}
      {% endfor %}
    </div>
  </section>

  <section>
    <h3>Lúdicas</h2>

    <section>
        <p>
          Creamos espacios de ocio en los que las familias mantengan los lazos y el contacto que durante los años se han ido forjando en los encuentros, pero también en los que se pueda crear una unión con las nuevas generaciones, y todo ello de una manera lúdica.
        </p>

        <p>
          Además del ya consolidado <strong>picnic anual</strong>, éstas son algunas de las actividades:
        </p>

        <ul>
          <li>Paseo en bici por la Vía Verde de Puente Viesgo con posterior picnic.</li>
          <li>Buscando y decorando huevos de pascua.</li>
        </ul>
      </section>
  </section>
</article>
