---
layout: default
title: Qué hacemos en la Asociación
description: Queremos crear una red de apoyo de madre a madre, por medio de encuentros periódicos a los que puede asistir toda persona del entorno de la mujer lactante
---
{% assign meetings = site.data.meetings | sort: "order" %}

<article>
  <header>
    <h1 class="text-center">
      Qué hacemo<span class="end">s</span>
    </h1>
  </header>

  <!-- width="560"
  height="315" -->
  <iframe
    src="https://www.youtube-nocookie.com/embed/RqzGnGrJv70"
    title="Vídeo de presentación en YouTube"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    class="video-player"
    allowfullscreen
  ></iframe>

  <section>
    <h2 class="text-center">
      Ven a nuestros encuentros
    </h2>

    <div class="row">
      <section class="col-12 col-md-6">
        <p>
          Queremos crear una red de apoyo de madre a madre con la experiencia de todas, por medio de encuentros periódicos a los que puede asistir toda persona del entorno de la mujer lactante (pareja, familiares, personal sanitario, etc...)
        </p>

        <p>
          <strong>En los encuentros podrás:</strong>
          <ul>
            <li>Encontrar información general sobre lactancia y crianza</li>
            <li>Plantear tus dudas</li>
            <li>Solicitar la observación de una toma</li>
            <li>Obtener el apoyo emocional que necesitas</li>
            <li>Conocer material de lactancia</li>
            <li>Aprender a portear</li>
          </ul>
        </p>

        <p>
          También disponemos de un servicio de <a href="/contacto" title="Contacta con nosotras">atención telefónica y correo electrónico</a>.
        </p>
      </section>
      <section class="col-12 col-md-6">
        <div class="alert alert-info">
          <p>
            Alguno de nuestros encuentros se realizan <em>online</em> y de manera gratuita, para asistir lo único necesario es que nos contactes por correo electrónico a <a href="mailto:{{site.email}}"><span class="obfuscated-email" data-website="{{site.email | split: '@' | last | split: '' | reverse | join: '' }}" data-user="{{site.email | split: '@' | first | split: '' | reverse | join: '' }}"></span></a>. ¡Te esperamos!
          </p>
        </div>

        <ul class="list-group encuentros-ul">
          {% for meeting in meetings %}
            <li class="list-group-item">
              <address>
                <a href="{{ meeting.maps }}" class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps">
                  <i class="fa fa-location-arrow"></i>
                  <strong>{{ meeting.location }}</strong>
                  <i class="fas fa-external-link-alt"></i>
                </a>{% if meeting.location_help %} ({{meeting.location_help}}){% endif %}<br/>
                {{ meeting.place }}<br/>
                {% if meeting.street %}
                  {{ meeting.street }}{% if meeting.street_help %} ({{meeting.street_help}}){% endif %}<br/>
                {% endif %}
                {{ meeting.day }}:<br/>
                De {{ meeting.start }} a {{ meeting.end }}
              </address>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </section>
</article>
