{% assign contacts = site.data.contacts | sort: "name" %}
{% assign meetings = site.data.meetings | sort: "order" %}

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-xl-1"></div>
    {% for meeting in meetings %}
      <div class="col-6 col-md-4 col-xl-2">
        <address>
          <a href="{{ meeting.maps }}" class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
            <i class="fa fa-location-arrow"></i>
            <strong>{{ meeting.location }}</strong>
          </a><br>
          {{ meeting.day }}:<br>
          De {{ meeting.start }} a {{ meeting.end }}
        </address>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 mb-5">
      <ul class="fa-ul">
        {% for contact in contacts %}
        <li>
          <span class="fa-li"><i class="{{contact.icon}}"></i></span>
          <span class="d-none d-sm-block">{{contact.label}} - {{contact.name}}{% if contact.help %} ({{contact.help}}){% endif %}</span>

          <span class="d-block d-sm-none">
            {% if contact.whatsapp %}
              <a href="//wa.me/34{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
            {% else %}
              <a href="tel:{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
            {% endif %}
            <span>- {{contact.name}}{% if contact.help %} ({{contact.help}}){% endif %}</span>
          </span>
        </li>
        {% endfor %}
        <li>
          <span class="fa-li"><i class="fa fa-envelope"></i></span> <a href="mailto:{{site.email}}"><span class="obfuscated-email" data-website="{{site.email | split: '@' | last | split: '' | reverse | join: '' }}" data-user="{{site.email | split: '@' | first | split: '' | reverse | join: '' }}"></span></a>
        </li>
        <li>
          <span class="fa-li"><i class="fa fa-rss"></i></span> <a href="{{site.social.blog}}" target="_blank" rel="me">Nuestro blog <i class="fas fa-external-link-alt"></i>
          </a>
        </li>
        <li>
          <span class="fa-li"><i class="fab fa-instagram"></i></span> <a href="//www.instagram.com/{{site.social.instagram}}" target="_blank" rel="me">Instagram <i class="fas fa-external-link-alt"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-4 mb-3">
      <a class="twitter-timeline" data-height="250" data-theme="light" data-link-color="#c17e93" href="//twitter.com/{{site.social.twitter}}?ref_src=twsrc%5Etfw">Tweets de la Asociación</a>
    </div>

    <div class="col-12 col-lg-4">
      <div class="fb-page" data-href="https://es-es.facebook.com/{{site.social.facebook}}" data-tabs="timeline" data-width="500" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://es-es.facebook.com/{{site.social.facebook}}" class="fb-xfbml-parse-ignore"><a href="//es-es.facebook.com/{{site.social.facebook}}">La Buena Leche</a></blockquote></div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <p class="text-center">
    <i class="far fa-copyright"></i> Asociación La Buena Leche {{ 'now' | date: "%Y" }}
  </p>
</div>
