{% assign contacts = site.data.contacts | sort: "name" %}
{% assign meetings = site.data.meetings | sort: "order" %}

<div class="container mt-3">
  <div class="row">
    {% for meeting in meetings %}
    <div class="col-6 col-md-3 col-xl-3">
      <address>
        {% if meeting.maps %}
          <a
            href="{{ meeting.maps }}"
            class="arrow-maps"
            data-toggle="tooltip"
            data-placement="top"
            title="Ver en Google Maps"
          >
            <i class="fa fa-location-arrow"></i>
            <strong>{{ meeting.location }}</strong>
            <i class="fas fa-external-link-alt"></i>
          </a>
        {% else %}
          <strong>{{meeting.location}}</strong>
        {% endif %}
        <br />
        {{ meeting.day }}:<br />
        De {{ meeting.start }} a {{ meeting.end }}
      </address>
    </div>
    {% endfor %}
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <p>Contacta:</p>
      <ul class="fa-ul">
        {% for contact in contacts %}
        <li>
          <span class="fa-li"><i class="{{contact.icon}}"></i></span>
          <span class="d-none d-sm-block"
            >{{contact.label}} - {{contact.name}}{% if contact.help %}
            ({{contact.help}}){% endif %}</span
          >

          <span class="d-block d-sm-none">
            {% if contact.whatsapp %}
            <a href="//wa.me/34{{contact.phone}}" rel="nofollow"
              >{{contact.label}}</a
            >
            {% else %}
            <a href="tel:{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
            {% endif %}
            <span
              >- {{contact.name}}{% if contact.help %} ({{contact.help}}){%
              endif %}</span
            >
          </span>
        </li>
        {% endfor %}
        <li>
          <span class="fa-li"><i class="fa fa-envelope"></i></span>
          <a href="mailto:{{site.email}}"
            ><span
              class="obfuscated-email"
              data-website="{{site.email | split: '@' | last | split: '' | reverse | join: '' }}"
              data-user="{{site.email | split: '@' | first | split: '' | reverse | join: '' }}"
            ></span
          ></a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 legal">
      <p>Información legal:</p>
      <ul class="fa-ul">
        <li>
          <a href="/aviso-legal/">Aviso legal</a>
        </li>
        <li>
          <a href="/politica-de-cookies/">Política de cookies</a>
        </li>
        <li>
          <a href="/politica-de-privacidad/">Política de privacidad</a>
        </li>
      </ul>

      <p>Síguenos:</p>
      <ul class="fa-ul">
        <li>
          <a
            href="https://www.instagram.com/{{site.social.instagram}}"
            rel="me noopener noreferrer"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://es-es.facebook.com/{{site.social.facebook}}"
            rel="me noopener noreferrer"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/{{site.social.twitter}}"
            rel="me noopener noreferrer"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="{{site.social.blog}}"
            rel="me noopener noreferrer"
            target="_blank"
            >En nuestro blog</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <p class="text-center">
    <i class="far fa-copyright"></i> Asociación La Buena Leche {{ 'now' | date: "%Y" }}
  </p>
</div>
