{% assign contacts = site.contacts | sort: "name" %}
{% assign meetings = site.meetings | sort: "order" %}

<div class="container">
  <div class="row">
    <div class="col-6 col-md-3">
      <p><a href="/quienes-somos">Quiénes somos</a></p>
      <p><a href="/encuentros">Encuentros</a></p>
      <p><a href="/asociate">Asóciate</a></p>
      <p><a href="/contacto">Contacta</a></p>
      <p><a href="/mapa-web">Mapa web</a></p>
    </div>
    <div class="col-6 col-md-3">
      <p>Actividades:</p>
      <ul class="list-unstyled">
        <li><a href="/actividades/divulgativas">Actividades divulgativas</a></li>
        <li><a href="/actividades/ludicas">Actividades lúdicas</a></li>
        <li><a href="/actividades/calendario">Calendario de actividades</a></li>
        <li><a href="/actividades/disciplina-positiva">Taller Disciplina Positiva</a></li>
        <li><a href="/actividades/semana-mundial-2018">Semana Mundial 2018</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <p>Material:</p>
      <ul class="list-unstyled">
        <li><a href="/material/extractores-de-leche">Extractores de leche</a></li>
        <li><a href="/material/prestamo-de-libros">Préstamo de libros</a></li>
        <li><a href="/material/material-divulgativo">Material divulgativo</a></li>
        <li><a href="/material/material-de-muestra">Material de muestra</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <p>Información:</p>
      <ul class="list-unstyled">
        <li><a href="/informacion/como-empezar">Cómo empezar</a></li>
        <li><a href="/informacion/beneficios">Beneficios</a></li>
        <li><a href="/informacion/problemas-y-soluciones">Problemas y soluciones</a></li>
        <li><a href="/informacion/extraccion-de-leche">Extracción de leche</a></li>
        <li><a href="/informacion/destete">Destete</a></li>
        <li><a href="/informacion/lactancia-y-trabajo">Lactancia y trabajo</a></li>
        <li><a href="/informacion/grupos-de-apoyo">Grupos de apoyo</a></li>
        <li><a href="/informacion/otros-enlaces">Otros enlaces</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    {% for meeting in meetings %}
      <div class="col-6 col-md-4 col-xl-2">
        <address>
          <a href="{{ meeting.maps }}" class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
            <i class="fa fa-location-arrow"></i>
            <strong>{{ meeting.location }}</strong>
          </a><br>
          {{ meeting.day }}:<br>
          De {{ meeting.start }} a {{ meeting.end }}
        </address>
      </div>
    {% endfor %}
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="fa-ul">
        {% for contact in contacts %}
        <li>
          <span class="fa-li"><i class="{{contact.icon}}"></i></span>
          <span class="d-none d-sm-block">{{contact.label}} - {{contact.name}}{% if contact.help %} ({{contact.help}}){% endif %}</span>

          <span class="d-block d-sm-none">
            {% if contact.whatsapp %}
              <a href="//wa.me/34{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
            {% else %}
              <a href="tel:{{contact.phone}}" rel="nofollow">{{contact.label}}</a>
            {% endif %}
            <span>- {{contact.name}}{% if contact.help %} ({{contact.help}}){% endif %}</span>
          </span>
        </li>
        {% endfor %}
        <li>
          <span class="fa-li"><i class="fa fa-envelope"></i></span> <a href="mailto:{{site.email}}">{{site.email}}</a>
        </li>
      </ul>
    </div>

    <div class="col-6">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fa fa-rss"></i></span> <a href="{{site.social.blog}}" target="_blank" rel="me">Nuestro blog</a>
        </li>
        <li>
          <span class="fa-li"><i class="fab fa-facebook"></i></span> <a href="//es-es.facebook.com/{{site.social.facebook}}" target="_blank" rel="me">La Buena Leche</a>
        </li>
        <li>
          <span class="fa-li"><i class="fab fa-twitter"></i></span> <a href="//twitter.com/{{site.social.twitter}}" target="_blank" rel="me"><i class="fa fa-at"></i>AsocacionLBL</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <p class="text-center">
    <i class="far fa-copyright"></i> Asociación La Buena Leche {{ 'now' | date: "%Y" }}
  </p>
  <a class="visible-xs" href="/">
    {% asset logo.png class='mx-auto d-block' alt='Logo de la Asociación La Buena Leche' magick:resize=150 %}
  </a>
</div>
