<div class="container">
  <a href="/" title="Asociación La Buena Leche" class="logo-principal">
    {% asset logo.png class="mx-auto d-block" alt="Logo de la Asociación La Buena Leche" %}
  </a>
</div>

<nav class="navbar navbar-dark navbar-expand-xl">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% asset logo_condensed_white.png class="d-xl-none" widht="45" height="45" alt="Asociación La Buena Leche" magick:resize=45 %}
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quienes-somos/">Quiénes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/que-hacemos/">Qué hacemos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/material/">Material</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="info-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Lactancia
          </a>
          <div class="dropdown-menu" aria-labelledby="info-dropdown">
            <a class="dropdown-item" href="/lactancia/como-empezar/">Cómo empezar</a>
            <a class="dropdown-item" href="/lactancia/beneficios/">Beneficios</a>
            <a class="dropdown-item" href="/lactancia/problemas-y-soluciones/">Problemas y soluciones</a>
            <a class="dropdown-item" href="/lactancia/extraccion-de-leche/">Extracción de leche</a>
            <a class="dropdown-item" href="/lactancia/destete/">Destete</a>
            <a class="dropdown-item" href="/lactancia/derechos-trabajo/">Derechos en el trabajo</a>
            <a class="dropdown-item" href="/lactancia/donacion-de-leche/">Donación de leche</a>
            <a class="dropdown-item" href="/lactancia/grupos-de-apoyo/">Grupos de apoyo</a>
            <a class="dropdown-item" href="/lactancia/otros-enlaces/">Otros enlaces</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/asociate/">Asóciate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto/">Contacta</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="//www.instagram.com/{{site.social.instagram}}"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="//es-es.facebook.com/{{site.social.facebook}}"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="//twitter.com/{{site.social.twitter}}"><i class="fab fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
