---
layout: default
title: Contacta con nosotras
description: Descubre cómo asistir a nuestras reuniones en Santander y Torrelavega o contactarnos fácilmente por teléfono, correo electrónico y redes sociales
css:
  - contacto
---

<article>
  <header>
    <h1 class="text-center">Contacta con nosotra<span class="end">s</span></h1>
  </header>

  <section>
    <p>
      En la Asociación no disponemos de una sede física, pero <a href="/que-hacemos/" title="Encuentros de la Asociación">puedes asistir a cualquiera de nuestras reuniones</a> en Santander y Torrelavega, donde estaremos encantadas de recibirte.
    </p>
    
    <p>
      Para ponerte en contacto con nosotras, puedes llamarnos al teléfono de <strong>09:00 a 21:00</strong>. También puedes enviarnos un correo electrónico o seguirnos en nuestras redes sociales: <a href="//www.instagram.com/{{site.social.instagram}}">Instagram</a>, <a href="//es-es.facebook.com/{{site.social.facebook}}">Facebook</a> y <a href="//twitter.com/{{site.social.twitter}}">Twitter</a>. Estaremos encantados de resolver tus dudas y brindarte toda la información que necesites.
    </p>

    <div class="list-group">
      {% for contact in site.data.contacts %}
        {% assign link = "tel:" %}
        {% if contact.whatsapp %}
          {% assign link = "//wa.me/34" %}
        {% endif %}
        <a
          href="{{link | append: contact.phone}}"
          class="list-group-item list-group-item-action flex-column align-items-start"
          rel="nofollow"
          title="Télefono de contacto de {{contact.name}}"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="{{contact.icon}}"></i> {{contact.name}}</h5>
          </div>
          <p class="mb-1">{{contact.label}}{% if contact.help %} ({{contact.help}}){% endif %}</p>
        </a>
      {% endfor %}

      <a href="mailto:{{site.email}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fa fa-envelope"></i> Correo electrónico</h5>
        </div>
        <p class="mb-1">
          <span
            class="obfuscated-email"
            data-website="{{site.email | split: '@' | last | split: '' | reverse | join: '' }}"
            data-user="{{site.email | split: '@' | first | split: '' | reverse | join: '' }}"
          ></span>
        </p>
      </a>
      <a
        href="//es-es.facebook.com/{{site.social.facebook}}"
        class="list-group-item list-group-item-action flex-column align-items-start"
        title="Página de Facebook"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fab fa-facebook"></i> Facebook</h5>
        </div>
        <p class="mb-1">La Buena Leche <i class="fas fa-external-link-alt"></i></p>
      </a>
      <a
        href="//www.instagram.com/{{site.social.instagram}}"
        class="list-group-item list-group-item-action flex-column align-items-start"
        title="Página de Instagram"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fab fa-instagram"></i> Instagram</h5>
        </div>
        <p class="mb-1">La Buena Leche Asociación <i class="fas fa-external-link-alt"></i></p>
      </a>
      <a
        href="//twitter.com/{{site.social.twitter}}"
        class="list-group-item list-group-item-action flex-column align-items-start"
        title="Twitter"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fab fa-twitter"></i> Twitter</h5>
        </div>
        <p class="mb-1"><i class="fa fa-at"></i>AsocacionLBL <i class="fas fa-external-link-alt"></i></p>
      </a>
    </div>
  </section>
</article>
