header {
  background: {
    color: $header-bg-color;
  }
  margin: {
    bottom: 1em;
  }
  .logo-principal {
    display: block;
    margin: {
      bottom: 1em;
      top: 1em;
    }
  }
  // .social {
  //   margin: 5px 0;
  //   a {
  //     color: $page-bg-color;
  //     display: inline-block;
  //     margin-left: 10px;
  //     &:hover {
  //       text-decoration: none;
  //     }
  //   }
  // }
  nav.navbar {
    // font-weight: bold;
    background: {
      color: $page-bg-color;
    }
    // margin-bottom: 0;
    // border-radius: 0;
    .navbar-toggler {
      // color: $white;
      .navbar-toggler-icon {
        color: $white;
      }
    }
    .navbar-collapse {
      // @media (min-width: 768px) {
      //   padding: 0;
      // }
      .navbar-nav {
        .nav-item {
          a {
            color: $white;
            font: {
              family: $title-font;
            }
            //   &.active {
            //     background-color: $page-bg-dark-color;
            //   }
            //   &:hover,
            //   &:focus {
            //     background-color: $page-bg-dark-color;
            //     text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.75);
            //   }
            //   @media (min-width: 768px) and (max-width: 991px) {
            //     padding-left: 7px;
            //     padding-right: 7px;
            //   }
            //   &.actividades {
            //     color: $footer-bg-color;
            //   }
            // }
          }
          div.dropdown-menu {
            background-color: $page-bg-color; //   li {
            a {
              //       padding-top: 5px;
              //       padding-bottom: 5px;
              &.highlighted {
                color: $footer-bg-color;
              }
            } //   }
          } // &.open {
          //   >a {
          //     background-color: $page-bg-dark-color;
          //     &:focus,
          //     &:hover {
          //       background-color: $page-bg-dark-color;
          //     }
          //   }
        }
      }
    }
  }
}
