body {
  background-color: $white;
  color: $page-font-color;
  font-family: $page-font;
  width: 100%;
  .form-control:focus {
    border-color: $page-bg-dark-color;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $page-bg-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $page-bg-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-font;
    font-weight: bold;
  }
  .img {
    margin: 10px 0;
  }
  .desc {
    margin-top: 25px;
  }
  .btn-lbl {
    color: $white;
    background-color: $page-bg-color;
    border-color: $page-bg-dark-color;
    &.active,
    &.focus,
    &:active,
    &:focus,
    &:hover {
      color: $white;
      background-color: $page-bg-dark-color;
      border-color: $page-bg-color;
    }
  }
  .alert-cookies {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border-bottom: solid 5px $page-bg-color;
    background-color: $page-font-color;
    opacity: 0.95;
    color: $white;
    a {
      color: inherit;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .arrow-maps {
    color: $page-bg-color;
  }
}

.slide-top {
  @include easingTimingFunction();
  &.ng-enter {
    @include transform(translateY(60px));
    @include transitionDuration(250ms);
    opacity: 0;
  }
  &.ng-enter-active {
    @include transform(translateY(0));
    opacity: 1;
  }
}
