$page-bg-color: #936;
$page-bg-dark-color: #603;
$header-bg-color: #fff;
$footer-bg-color: #fc9;
$page-font-color: #333;
$page-font: 'Roboto', "Open Sans", sans-serif;
$title-font: 'Roboto', "Amatic SC", "Open Sans", sans-serif;
$white: #fff;