<div class="row text-center">
  <div class="col-6 col-md-3">
    <a href="/asociate" class="assoc-icon-link shadow-sm rounded d-inline-block p-3 mb-3" title="Asóciate">
      <i class="assoc-icon fas fa-calendar-alt fa-4x text-white mb-3"></i>
      <p>Entrega del calendario anual</p>
    </a>
  </div>
  <div class="col-6 col-md-3">
    <a href="/asociate" class="assoc-icon-link shadow-sm rounded d-inline-block p-3 mb-3" title="Asóciate">
      <i class="assoc-icon fas fa-tint fa-4x text-white mb-3"></i>
      <p>Descuentos en el alquiler de sacaleches</p>
    </a>
  </div>
  <div class="col-6 col-md-3">
    <a href="/asociate" class="assoc-icon-link shadow-sm rounded d-inline-block p-3 mb-3" title="Asóciate">
      <i class="assoc-icon fas fa-swatchbook fa-4x text-white mb-3"></i>
      <p>Fondo bibliográfico y audio-visual</p>
    </a>
  </div>
  <div class="col-6 col-md-3">
    <a href="/asociate" class="assoc-icon-link shadow-sm rounded d-inline-block p-3 mb-3" title="Asóciate">
      <i class="assoc-icon fas fa-comments fa-4x text-white mb-3"></i>
      <p>Descuentos en talleres y charlas</p>
    </a>
  </div>
</div>
