<div id="teaming" class="card">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-xl-2">
            {% asset logo_teaming_vertical.png class="card-img" alt="Logo de Teaming" magick:resize=200x %}
        </div>
        <div class="col-md-8 col-lg-9 col-xl-10">
            <div class="card-body">
                <h3 class="card-title">Dona sólo 1€ al mes</h3>
                <p class="card-text">Todas las actividades que realiza la asociación son sin ánimo de lucro. Financiamos las actividades gracias a subvenciones, a las cuotas que abonan las socias y al trabajo desinteresado que invierten algunas de ellas. A través de <a href="//www.teaming.net" title="Teaming">Teaming <i class="fas fa-external-link-alt"></i></a> pretendemos contar con otro apoyo sobre el que sustentar nuestras labores.</p>
                <a href="//www.teaming.net/asociacionlabuenaleche" class="card-link">¡Únete a nuestro Grupo! <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>
</div>