footer {
  &#main-footer {
    background: {
      color: #fafafa;
      // image: asset_url("footer.jpg magick:resize=1140 magick:quality=90");
      // // https://pixabay.com/es/lactancia-materna-beb%C3%A9-mama-827169/
      // size: cover;
    }
    padding: {
      bottom: 1em;
      top: 1em;
    }
    // margin: {
    //   top: 1em;
    // }
    font: {
      size: 0.8em;
    }

    // color: #fff;

    div.legal {
      text-align: right;

      @media screen and (max-width: 768px) {
        text-align: left;
      }
    }
  }
}
