footer {
  &#main-footer {
    background: {
      color: #fafafa;
    }

    padding: {
      bottom: 1em;
      top: 1em;
    }

    font: {
      size: 0.8em;
    }

    div.legal {
      text-align: right;

      @media screen and (max-width: 768px) {
        text-align: left;
      }
    }
  }
}
