$duration: .2s;
$distance: 0.75em;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

header {
  &#main-header {
    background: {
      color: #fff;
    }
    margin: {
      bottom: 1em;
    }
    .logo-principal {
      display: block;
      margin: {
        bottom: 1em;
        top: 1em;
      }
    }
    nav.navbar {
      background: {
        color: $lbl-main-color;
      }

      .navbar-toggler {
        border: {
          color: #fff;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-item {

            a {
              position: relative;
              text-decoration: none;
              font-family: $lbl-title-font;
              color: #fff;

              &:hover,
              &:focus {
                background-color: $lbl-main-color;
              }

              &:not(.dropdown-toggle) {
                &:before,
                &:after {
                  content: '';
                  position: absolute;
                  bottom: 2px;
                  left: 0;
                  right: 0;
                  height: 2px;
                  background-color: #fff;
                }
                &:before {
                  opacity: 0;
                  transform: translateY(- $distance);
                  transition: transform 0s $easeOutBack, opacity 0s;
                }
                &:after {
                  opacity: 0;
                  transform: translateY($distance/2);
                  transition: transform $duration $easeOutBack, opacity $duration;
                }
                &:hover,
                &:focus {
                  &:before,
                  &:after {
                    opacity: 1;
                    transform: translateY(0);
                  }
                  &:before {
                    transition: transform $duration $easeOutBack, opacity $duration;
                  }
                  &:after {
                    transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                  }
                }

              }
            }

            div.dropdown-menu {
              background-color: $lbl-main-color;
            }
          }
        }
      }
    }
  }
}
